<!DOCTYPE html>
<html>
<head>
  <title>GogglesStats</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <!-- Set mobile support for Bootstrap 3: -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <% if notice || flash[:info] %>
        <div class="alert alert-info">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <%= notice || flash[:info] %>
        </div>
    <% end %>
    <% if alert || flash[:warning] %>
        <div class="alert alert-block">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <%= alert || flash[:warning] %>
        </div>
    <% end %>
    <% if flash[:error] %>
        <div class="alert alert-error">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <h4>Oh no!</h4>
            <%= flash[:error] %>
        </div>
    <% end %>

    <%= yield %>

</body>
</html>
